# Actividad de limpieza de datos
## Equipo
- Sebastián Antonio Almanza A01749694  
- Lizbeth Islas Becerril A01749904
-

### Exploración de los datos

In [2]:
# Importar las líbrerías necesarias para la limpieza de datos
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Cargar el .csv de los datos
df = pd.read_csv("bike_buyers.csv")

In [4]:
df.head(10) #Primeros diez datos

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12591,Married,Female,"30,000",4.0,Graduate Degree,Clerical,Yes,0.0,0-1 Miles,Europe,45.0,No
1,14058,Single,Male,"70,000",0.0,Bachelors,Professional,No,1.0,5-10 Miles,Pacific,41.0,Yes
2,23962,Married,Female,"10,000",0.0,Partial High School,Manual,Yes,2.0,1-2 Miles,Europe,32.0,No
3,23419,Single,Female,"70,000",5.0,Bachelors,Professional,Yes,3.0,10+ Miles,Pacific,39.0,No
4,21940,Married,Male,"90,000",5.0,Graduate Degree,Professional,Yes,0.0,0-1 Miles,North America,47.0,Yes
5,23316,Single,Male,"30,000",3.0,Partial College,Clerical,No,2.0,1-2 Miles,Pacific,59.0,Yes
6,13351,Single,Female,"70,000",4.0,Bachelors,Management,Yes,2.0,1-2 Miles,North America,62.0,Yes
7,24107,Married,Male,"30,000",3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
8,18153,Married,Female,"100,000",2.0,Bachelors,Management,Yes,4.0,10+ Miles,Europe,59.0,No
9,21613,Single,Male,"50,000",2.0,Bachelors,Skilled Manual,No,1.0,0-1 Miles,North America,39.0,Yes

In [5]:
df.tail(10) #Ultimos diez datos

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
1241,27638,Single,Male,"100,000",1.0,Partial College,Professional,No,3.0,1-2 Miles,North America,44.0,No
1242,25041,Single,Male,"40,000",0.0,High School,Skilled Manual,Yes,2.0,5-10 Miles,North America,31.0,No
1243,21770,Married,Male,"60,000",4.0,Bachelors,Management,Yes,2.0,10+ Miles,North America,60.0,No
1244,14193,Single,Female,"100,000",3.0,Partial College,Management,Yes,4.0,10+ Miles,Europe,56.0,No
1245,16559,Single,Female,"10,000",2.0,High School,Manual,Yes,0.0,0-1 Miles,Europe,36.0,Yes
1246,19364,Married,Male,"40,000",1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,43.0,Yes
1247,26305,Single,Female,"60,000",2.0,Bachelors,Skilled Manual,No,0.0,0-1 Miles,North America,36.0,Yes
1248,28026,Married,Female,"40,000",2.0,High School,Professional,No,2.0,2-5 Miles,North America,59.0,No
1249,12590,Single,Male,"30,000",1.0,Bachelors,Clerical,Yes,0.0,0-1 Miles,Europe,63.0,No
1250,24201,Married,Female,"10,000",2.0,High School,Manual,Yes,0.0,0-1 Miles,Europe,37.0,Yes

In [6]:
df.info() #Información de los datos del .csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251 entries, 0 to 1250
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1251 non-null   int64
 1   Marital Status    1244 non-null   object
 2   Gender            1238 non-null   object
 3   Income            1243 non-null   object
 4   Children          1238 non-null   float64
 5   Education         1251 non-null   object
 6   Occupation        1251 non-null   object
 7   Home Owner        1247 non-null   object
 8   Cars              1242 non-null   float64
 9   Commute Distance  1251 non-null   object
 10  Region            1251 non-null   object
 11  Age               1238 non-null   float64
 12  Purchased Bike    1251 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 127.2+ KB

In [7]:
df.shape #Imprime cantidad de filas y columnas

(1251, 13)

In [8]:
df.columns #Muestra todas las columnas de el dataset

Index(['ID', 'Marital Status', 'Gender', 'Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Purchased Bike'],
      dtype='object')

In [9]:
df.dtypes #Imprime los tipos de variable de cada columna

ID                    int64
Marital Status       object
Gender               object
Income               object
Children            float64
Education            object
Occupation           object
Home Owner           object
Cars                float64
Commute Distance     object
Region               object
Age                 float64
Purchased Bike       object
dtype: object

### Limpieza de datos

In [10]:
df.duplicated().sum() #Verificar si hay duplicados en los datos

251

In [11]:
df.drop_duplicates() #Eliminar los datos duplicados

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12591,Married,Female,"30,000",4.0,Graduate Degree,Clerical,Yes,0.0,0-1 Miles,Europe,45.0,No
1,14058,Single,Male,"70,000",0.0,Bachelors,Professional,No,1.0,5-10 Miles,Pacific,41.0,Yes
2,23962,Married,Female,"10,000",0.0,Partial High School,Manual,Yes,2.0,1-2 Miles,Europe,32.0,No
3,23419,Single,Female,"70,000",5.0,Bachelors,Professional,Yes,3.0,10+ Miles,Pacific,39.0,No
4,21940,Married,Male,"90,000",5.0,Graduate Degree,Professional,Yes,0.0,0-1 Miles,North America,47.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,27638,Single,Male,"100,000",1.0,Partial College,Professional,No,3.0,1-2 Miles,North America,44.0,No
1242,25041,Single,Male,"40,000",0.0,High School,Skilled Manual,Yes,2.0,5-10 Miles,North America,31.0,No
1245,16559,Single,Female,"10,000",2.0,High School,Manual,Yes,0.0,0-1 Miles,Europe,36.0,Yes
1248,28026,Married,Female,"40,000",2.0,High School,Professional,No,2.0,2-5 Miles,North America,59.0,No
1249,12590,Single,Male,"30,000",1.0,Bachelors,Clerical,Yes,0.0,0-1 Miles,Europe,63.0,No

In [12]:
df.duplicated().sum()

251